<!DOCTYPE html>
<html>
  <head>
    <title>リアルタイムで情報収集</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <ul>
     <% infoList.forEach(function(item){ %>
          <li><%= item.id %>, <%= item.get("message") %> <li>
     <% }) %>
</ul>
  </body>
</html>
