<!DOCTYPE html>
<html>
  <head>
    <title>リアルタイムで情報収集</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <ul>
   	 <% var i = 0;%>
     <% infoList.forEach(function(item){ %>
     <% i++%>   
     <li><%=i%>,<%= item.id %>, <%= item.get("message") %> </li>
     
     <% }) %>
   </ul>
  </body>
</html>
